<p *ngIf = "!(auth.getUser()|async)">please login!</p>

<mat-card *ngIf = "(auth.getUser()|async)">
    <h1>add</h1>
    <form #studentsForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>math grade</mat-label>
              <input matInput 
                [(ngModel)] = "mathGrage"
                name = "mathGrage"
                type = "number"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psycho Grade</mat-label>
              <input matInput 
                [(ngModel)] = "psychoGrage" 
                name = "psychoGrage" 
                type = "number"
                required>
            </mat-form-field>
          </p>     
          <p>
            <mat-label>pay</mat-label>
            <mat-checkbox class="example-margin"
            [(ngModel)]="pay" 
            name = "pay">
            </mat-checkbox>            
          </p>   
          
          <p>
            
            <mat-form-field appearance="fill"  *ngIf="!button">
              <mat-label>result</mat-label>
              <mat-select [(value)]="selected" [(ngModel)]="result" name = "result">
                <mat-option>None</mat-option>
                <mat-option value="will stay">will stay</mat-option>
                <mat-option value="will leave">will leave</mat-option>
              </mat-select>
            </mat-form-field>
          </p>   
          
          
          <p>
        <div>
            <button mat-raised-button color="primary"  [disabled]="!studentsForm.form.valid" *ngIf="button" (click)="predict()">
                     predict
            </button>
            <button mat-raised-button color="primary" *ngIf="!button && result" (click)="save()">
                save
            </button>
            <button *ngIf="!button" mat-raised-button (click)="cancel()">
                Cancel
            </button>     
            
            
        </div>
      </div>
      <p *ngIf="err">{{errMassage}}</p>

    </form>
   </mat-card>
