
<p *ngIf = "!(authService.getUser()|async)">please login!</p>

<mat-card *ngIf = "(authService.getUser()|async)">
  
    <mat-card-content>
        <table mat-table [dataSource]="students" class="table table-striped table-hover" >
  


          <ng-container matColumnDef="mathGrade">
            <th mat-header-cell *matHeaderCellDef> mathGrade </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.mathGrade}}
            </td>
          </ng-container>

          <ng-container matColumnDef="psychoGrade">
            <th mat-header-cell *matHeaderCellDef> psychoGrade </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.psychoGrage}}
            </td>
          </ng-container>
        
          <ng-container matColumnDef="pay">
            <th mat-header-cell *matHeaderCellDef> pay </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span> {{element.pay}}</span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> result </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span> {{element.result}}</span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> user-email </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <span> {{element.userId}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> delete </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
              <button mat-raised-button
              color = "warn"
              (click) = "delete(i)">
              Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
  </mat-card> 